/FusorControlServer/nbproject/private/
/FusorControlServer/build/
/FusorControlServer/target/
FusorControlServer/logs/*
FusorControlServer/config.json
FusorControlServer/config.json
/Auth/target/
/Auth2/Foods/nbproject/private/
/Auth2/Foods/build/